[2018-06-24 21:03] kevinlee12 opened #7 "Consider switching to yarn for js package installs"
Since yarn is a more intelligent package manager with much more functionality than npm and installs every package that npm can, it is worth researching a move to use yarn.

[2018-06-24 21:03] kevinlee12 commented on #7
not a high priority, but worth looking into when there is time.

[2018-08-09 12:14] apb7 opened #15 "Add line comments to PRs whenever a pylint pragma is encountered in PR diff"
A bot similar to this: https://github.com/koddsson/eslint-disable-probot can be implemented by changing the `eslint-disable` pragma to `pylint-disable` pragma.

This check is not fool-proof since it works on the `patch` attribute of the file object which remains undefined for large files (due to limitations of the GitHub API).

[2018-08-11 19:47] apb7 opened #16 "Modify CLA check to verify whether the author of each commit in a PR has signed the CLA"
At the moment, the CLA check is triggered when a PR is opened. It then checks whether the author of the PR has signed the CLA. This check needs to be extended so that whenever a commit is pushed to a PR, the bot checks whether the author of that commit has signed the CLA. This is to prevent cases like: https://github.com/oppia/oppia/pull/5490#pullrequestreview-145455016
We also need to take care o

[2019-02-17 15:25] nithusha21 opened #18 "Add checks to ensure the PR checklist is followed by contributors"
The bot should make sure that the points in the PR checklist are followed. (Things like title must have an issue number, and the description must say "Fix #bug_no").

This should not be a blocking check, as there may be instances where this doesn't apply, like the routine update of translations PR, or the update AUTHORS PR every release.

I think a one time notification on the PR thread, if the PR

[2019-02-17 15:39] nithusha21 opened #19 "Add checks to ensure that a "changelog" label is applied on every PR"
We would like any PR that is merged into develop to have a "changelog: -type-" label. This is to help organize the changelog easily during releases.

PRs must contain exactly one changelog label, and the bot auto-close the PR if no label is found. It will leave a top-level comment asking the PR author to add a changelog label before reopening the PR.

[2019-04-13 21:07] lilithxxx opened #28 "Come up with a robust definition of “stale”"
Come up with a robust definition of “stale” that works for our codebase, and make oppiabot handle this correctly so that PRs like [#6138](https://github.com/oppia/oppia/pull/6138) are not missed.
The third party stale app needs to be modified.

[2019-04-13 21:08] lilithxxx opened #29 "For every PR open > 72 hours, go through all review comments"
For every PR open > 72 hours, go through all review comments; if there’s no comment by a listed reviewer yet, assign oppia-dev as an assignee of the task. This is recorded in metrics and the reviewer is pinged. This needs to be checked on a daily basis

[2019-04-13 21:12] lilithxxx opened #30 "Check for PTAL"
For every PR which has been open for > 72 hours, work from the most recent comment backwards to identify the last “streak” of review comments by the author of the PR. (If the last comment isn’t by the author of the PR, skip this PR. Also ignore any comments by codecov or oppiabot.) Then, see if this last streak of comments includes the string “PTAL”. If more than 72 hours has elapsed from the “PTA

[2019-06-26 16:09] apb7 opened #33 "Modify the CLA check to auto-close PRs"
The CLA check should auto-close PRs if the contributor has not signed the CLA with a proper message on the following lines:

`Hi! @{author}. Welcome to Oppia! Can you please could you follow the instructions [here](https://github.com/oppia/oppia/wiki/Contributing-code-to-Oppia#setting-things-up) to get started? You'll need to do this before we can accept your PR. I am closing this PR for now. Feel

[2019-06-28 06:23] apb7 opened #34 "Assign the corresponding project owner for the first review of a PR once a project label is added"
The bot should assign the corresponding project owner once it finds a project label on a PR. The bot should also leave a message saying “Assigning to @XXX for the first-pass review.”
If no project label is found, the bot will close the PR and ask the author to add a project label to the PR before re-opening it. In this way, all open PRs will always follow the review cycle.

[2019-06-28 06:25] apb7 opened #35 "Assign the code owners for review to a PR once the project owner adds the “Need code owners approval” label"
The bot should assign the code-owners for review once the project owner adds the “Need code owners approval” label. It should also leave a message saying “Assigning to `@XXX` for `ABC` file,  `@YYY` for `DEF` file and `@ZZZ` for `GHI` file for code owner review.”

[2019-07-17 07:41] apb7 commented on #30
We will not require this check once Issue #34 and #35 are resolved and the new review cycle has been put in place. Therefore, closing this, thanks!

[2019-07-17 07:41] #30 closed

[2019-07-17 07:43] apb7 commented on #29
We (probably) will not require this check if the review cycle functions properly and issues #34 and #35 are resolved. Thanks!

[2019-07-17 07:50] apb7 commented on #28
The stale check seems to be running fine since we've reduced the number of days for a PR to be considered stale. Due to this, the number of open PRs in the code base is below 30. Therefore, we do not need to modify the definition of "stale". Thanks!

[2019-07-17 07:50] #28 closed

[2019-07-17 08:02] seanlip commented on #7
I think we discussed this and decided not to do it, so I'm closing this.

That said, @kevinlee12, please feel free to reopen if I'm misremembering. Thanks!

[2019-07-17 08:02] #7 closed

[2019-07-21 05:25] apb7 opened #36 "Automatically notify devs (by commenting on their PR) if their CI build fails"
Add a check to automatically notify devs (by commenting on their PR) if their CI build fails. (Maybe look at https://github.com/apps/ci-reporter).

[2019-07-26 23:31] apb7 opened #38 "Ensure that each PR has a changelog label at time-of-merge"
As a fix for #19, we've decided to take incremental steps to ensure that each PR has a changelog label. Therefore, if a PR does not have a changelog label, the bot will ping the author to fix it but will not close the PR.
A repo check, similar to TravisCI should be implemented as a next step, if the former does not work, to ensure that each PR has a changelog label at time-of-merge. Oppiabot shoul

[2019-07-26 23:51] #19 closed

[2019-07-26 23:51] #34 closed

[2019-08-12 08:55] seanlip commented on #36
In addition to doing this, could we also please add a message that points the developer to the relevant part of https://github.com/oppia/oppia/wiki/If-your-build-fails (based on which checks are failing)?  (We should also probably update that page to include separate troubleshooting sections for the different types of checks.)

[2019-08-13 01:12] kevinlee12 commented on #36
We can definitely do that!

[2019-08-14 17:37] kevinlee12 opened #41 "Update npm packages"
Our npm packages are quite out date, this issue is to log the upgrade of the npm packages.

[2019-11-10 05:18] kevinlee12 opened #42 "Tidy up pull requests"
Have Oppiabot notify contributors whenever their title does not follow one of the following patterns:

- `Fix #123: ...`
- `Fix part of #123: ...`

[2019-11-10 05:22] kevinlee12 opened #43 "Close PRs on force push"
We take force-pushing a PR under review quite seriously -- it makes it hard for reviewers to go through the changes made in the PR.
The aim of this issue is to add a double-confirmation message in the pre-push checks before a developer is able to force-push commits onto a PR.
We can have two confirmation messages with a `YES` or `NO` something along the following lines:
- `You are trying to force-

[2020-01-30 17:05] sdhiman99 commented on #41
Hi! I'm new here and would like to contribute to this repo. How do I start? Can I take up this issue, if it's still relevant?

[2020-01-31 11:18] shubhamjadon commented on #43
@kevinlee12 I would like to work on this.

[2020-01-31 15:38] kevinlee12 commented on #41
thanks for your interest! Oppiabot as it stands is being deprecated and we’re migrating to something else. Perhaps @ankita240796 can point you to something else in this domain if you are still interested.

[2020-01-31 15:39] kevinlee12 commented on #43
Sure, though would you mind doing it is github actions? Please also do it on the oppia repo (https://github.com/oppia/oppia)

[2020-01-31 17:41] shubhamjadon commented on #43
I achieved the following functioning with the help of git hooks(pre-push hook) which is working correctly.
For github actions: Well i think i am not able to clearly understand how i can achieve this using github actions as from what i understood github actions run on github and git push will be done from local machine so to trigger force-push we must use hooks. I don't know how can we link both(gi

[2020-02-01 18:19] kevinlee12 commented on #43
We want to avoid using git hooks since those can easily be overridden by the user. Also, the point is not to prevent contributors from force pushing, they can do that **only** if they don't have a PR open. As a starter for Github Actions, I'd recommend looking at https://github.com/features/actions.

[2020-02-05 07:27] shubhamjadon commented on #43
@kevinlee12 where will confirmation messages appear??(At which stage)

[2020-02-05 15:35] kevinlee12 commented on #43
All actions will occur when the PR is open, so everything will be on the Github side.

[2020-02-21 16:15] jameesjohn commented on #35
Hi @kevinlee12
I'd love to work on this issue.

[2020-02-22 03:02] kevinlee12 commented on #35
Sure, make sure you coordinate with @ankita240796 since she's managing Oppiabot now.

[2020-02-22 03:03] #41 closed

[2020-02-22 03:03] kevinlee12 commented on #41
Closing since we need to move to a new Oppiabot written from scratch.

[2020-03-23 22:53] ankita240796 opened #50 "Oppiabot should detect PRs which affect datastore layers"
Add automation to detect any PRs which affect the datastore layer (maybe using github actions or oppiabot).

[2020-04-10 11:00] jameesjohn opened #53 "Issue with running tests."
I investigate the test failures and I was able to fix some of them. Others are failing for legitimate reasons, which is why I created this issue.

1. The scheduler gets created at https://github.com/oppia/oppiabot/blob/6d723a95549353bb1641325f62efc95c8f420f64/index.js#L11, but in the tests, the app (oppiabot) is initialized https://github.com/oppia/oppiabot/blob/6d723a95549353bb1641325f62efc95c8f4

[2020-04-19 16:51] jameesjohn opened #56 "Add License text to all files."
Add the Oppia LICENSE text to all files in the project.

[2020-05-06 16:43] #53 closed

[2020-05-09 21:02] ankita240796 opened #60 "Error in oppiabot logs for obtaining repo"
I see the following error in oppiabot logs. This looks unrelated to our code-setup and is coming up from the probot-config instead.

Here are the logs:

[code]

[2020-05-10 21:37] ankita240796 opened #62 "Remove usage of probot-stale"
Replace probot stale with probot scheduler since we are currently using a fork of probot/stale which isn't updated and is using old dependencies of probot, probot-config which have deprecated functions.

[2020-05-10 21:38] ankita240796 opened #63 "Upgrade googleapis"
Upgrade googleapis version to the latest issues. This requires to be tested well since the upgrade can be a breaking change.

[2020-05-11 07:39] #60 closed

[2020-05-14 20:56] BenHenning opened #64 "Add support for oppia-android"
This is a feature request to update & set up the bot to work on https://github.com/oppia/oppia-android. I think right now all we need is the CLA tracking support, but we may request/add additional, Android-specific functionality in the future.

I'm happy to make the changes if folks point me in the right direction. :)

[2020-05-14 20:58] BenHenning commented on #64
/cc @ankita240796

[2020-05-14 21:01] BenHenning commented on #64
After looking through the code, perhaps we could introduce some sort of configuration file to specify which features are enabled for the bot, and configuration parameters for those features? That way, I can create an Android-specific configuration file & deploy the bot with just CLA checking enabled.

[2020-05-19 20:16] ankita240796 commented on #64
Hi @BenHenning, sorry for the late reply.

I think we will need the following changes as you have suggested:

- Update the config [here](https://github.com/oppia/oppiabot/blob/master/index.js) to contain two lists which specify the checks for android/main repo
- For each event, we can check the repo and based on that trigger the check from the checklist.

Thanks!

[2020-05-20 05:05] #63 closed

[2020-05-27 07:41] BenHenning opened #355 "[From Android team] Improved issue management tracking via Oppiabot"
There may be some nice triage improvements we could get from Oppia bot:
1. Making sure that all of the key categories of labels are specified for issues
2. Ensure a milestone & project is properly defined for all issues labeled as 'Type: task'
3. Ensure when either a milestone or project is defined, the opposite is also defined
4. Track target completion date (e.g. via a 'target date' in the main

[2020-05-27 07:53] vinitamurthi opened #73 "Feature Request: Auto submit PRs with a particular label"
A lot of times we have PRs where all the reviewers have LGTM'ed but the continuous integration tests are still running. On oppia-web, we label those PRs with a 'PR: LGTM' label and the author is expected to merge the PR once the tests pass.
It may be useful to have oppia bot scan PRs with this label, and check if the tests are complete and have passed. If the tests have passed, it can automaticall

[2020-05-28 19:29] seanlip opened #75 "Oppiabot keeps assigning the wrong reviewers"
When a new PR is created, Oppiabot seems to keep assigning the wrong reviewers to it. See e.g. https://github.com/oppia/oppia/pull/9389#issuecomment-635091631. These reviewers need to subsequently be manually removed, which causes confusion.

Would it be possible to fix the algorithm for this so that someone from the list of codeowners is always assigned (perhaps the person who owns the most files

[2020-05-28 22:01] ankita240796 commented on #75
Aren't we assigning based on changelog label and then the person responsible for the project, can do the review or assign the codeowners. The confusion on the above PR is created due to repeated changing of changelog labels.

Also, the automatic assigning of codeowners to PR is something we are targeting for milestone 3. Are there any other cases of the wrong assigning reviewers?

[2020-05-29 03:30] seanlip commented on #75
No, this is the only type of case I am aware of. I think also sometimes the changelog labels might not match the actual codeowners, so I was wondering whether it would make sense to bypass that initial reviewer and figure out directly who would be the "most responsible codeowner"?

[2020-05-29 05:13] ankita240796 commented on #75
What do you mean by "most appropriate reviewer"? I feel it is difficult to define the most appropriate reviewer using the bot and it is better to assign all the codeowners since they all will need to do the review finally.

[2020-05-29 07:02] seanlip commented on #75
We currently have a review flow where one reviewer looks at the PR in its entirety, and then adds all the codeowners for review of the subparts. So the question I was thinking about is, how do you figure out who that "one reviewer" is?

My suggestion would be that, since each "line of code" is owned by a codeowner, you could add up the lines of code (or, less granularly the number of files) in the

[2020-05-29 15:28] ankita240796 commented on #75
This is normally the reviewer assigned via the changelog label.

I think it is feasible to choose the most appropriate reviewer by summing up the lines/files linked with each codeowner but even in that case fragmented review is possible. The most appropriate reviewer will just review the codeowner files and assign other reviewers and there is no guarantee that they will assign the next reviewers (

[2020-05-29 16:58] ankita240796 opened #77 "Check for yarn.lock when package.json is changed"
Oppiabot should check that whenever package.json is changed, yarn.lock must be accompanied (but not vice versa).

Refer: https://github.com/oppia/oppia/pull/8931#discussion_r413481107

[2020-05-29 22:43] seanlip commented on #75
Ah yes, sorry -- for clarification, what I meant (but was unclear about) was "how to figure out which of the codeowners should be the 'one reviewer'". Currently, there's sometimes no overlap between the auto-assigned reviewer and the list of codeowners.

For the rest, I think what you say sounds reasonable. Thanks!

[2020-06-06 06:15] #64 closed

[2020-06-06 20:27] jameesjohn commented on #77
I thought this is done by the pre commit check

[2020-06-13 09:37] jameesjohn opened #81 "Be more explicit about the comment on disallowed branches"
Oppiabot should be more explicit in it's comment on PRs made from test, develop or release branches.
https://github.com/oppia/oppia/pull/9513#issuecomment-643580955

[2020-06-15 21:10] ankita240796 opened #85 "Close PRs when CLA isn't signed"
Oppiabot should close the PRs if CLA isn't signed instead of just leaving a comment and adding label. This will ensure that such PRs aren't merged even accidentally. This is required since it would be messy if such a PR is merged and we have to revert it back.

[2020-06-15 21:15] ankita240796 opened #86 "Configure oppiabot checks to run on oppiabot repo"
https://github.com/oppia/oppiabot/pull/82#issuecomment-644313322

[2020-06-16 08:41] vinitamurthi opened #87 "Close stale branches"
The Oppia Android project has a lot of branches that are stale. They could either be because a PR was already merged for that branch (although now Github should automatically delete those), or if a branch is not being used for a while.
It would be a good idea for oppia bot to flag those branches (maybe branches that are x days old), notify the owner of the branch that the branch will be deleted in

[2020-06-17 19:23] #50 closed

[2020-06-18 10:48] ankita240796 commented on #85
Duplicate of #33.

[2020-06-18 10:48] #85 closed

[2020-06-18 10:56] ankita240796 commented on #29
This isn't required -- will be handled in #35.

[2020-06-18 10:56] #29 closed

[2020-06-19 03:04] seanlip opened #90 "Fix detection of PRs that include jobs"
The handling of job-related PRs by oppiabot is broken. Please revert and fix accordingly. For more details, please see the comment at https://github.com/oppia/oppia/pull/9546#issuecomment-646406716.

Also, please note that the formatting is off. Make sure you have one blank line separating each paragraph.

/cc @ankita240796

[2020-06-19 06:22] ankita240796 commented on #90
Hi @seanlip, I agree that the name of jobs is not being displayed correctly and that should be fixed but regarding filling of form, I think we should fill a form before the merge even if they aren't rn actively since that will ensure that the job does not have any errors. WDYT?

[2020-06-19 06:26] seanlip commented on #90
But we don't run prod validation audit jobs in that way, right?

[2020-06-19 06:27] seanlip commented on #90
oh wait -- are you saying, we should actively test those too, though we currently don't?

[2020-06-19 06:27] seanlip commented on #90
If so I'm ok with that. Though the form is currently not geared towards that...

[2020-06-19 06:45] ankita240796 commented on #90
Yes, actually the reason behind that is that we got so many bugs while running existing prod jobs which wouldn't be there in the first place if we had tested them before the merge.

Re the form, I can update it, making the question optional: are you targeting this for a release and if the answer is yes, then only we show this question and add the response to the jobs list.

[2020-06-19 06:47] seanlip commented on #90
Ah -- yeah maybe what you can do is, make the form such that it branches based on the multiple-choice answer. Something like that should work.

[2020-06-19 06:49] ankita240796 commented on #90
Sure, I will make the changes and share that with you!

Meanwhile @jameesjohn can you please fix the issue such that the names are shown correctly, Thanks!

[2020-06-19 07:41] jameesjohn commented on #90
Okay
Working on this.

[2020-06-19 13:14] #33 closed

[2020-06-19 13:14] #86 closed

[2020-06-22 18:56] #90 closed

[2020-06-24 03:52] #81 closed

[2020-06-26 05:53] #16 closed

[2020-06-29 21:18] jameesjohn opened #98 "Reuse sheet functions"
Modify issue assigned module to use the same functions as used in apiForSheets when interacting with spreadsheets.

[2020-07-15 06:18] ankita240796 opened #103 "Add lint tests"
Enforce lint tests in oppiabot repo.

[2020-07-25 06:48] ankita240796 commented on #42
This is not necessary - some PRs do not specifically fix an issue.

[2020-07-25 06:48] #42 closed

[2020-07-25 06:48] ankita240796 commented on #43
Fixed in #101.

[2020-07-25 06:48] #43 closed

[2020-07-27 11:38] #18 closed

[2020-08-07 10:53] jameesjohn opened #112 "Prevent Oppiabot from commenting on Translate wiki PRs"
Currently, oppiabot responds to all PRs created in the oppia repository.
We need to modify the functionality such that it does not respond to PRs created by bots like the [translate wiki](https://github.com/translatewiki).

[2020-08-09 07:42] #112 closed

[2020-08-24 04:46] ankita240796 opened #117 "Oppiabot should tag PRs with builds passing but last commit > 2 days ago"
Oppiabot should tag PRs with builds passing but last commit > 2 days ago, with a warning message / label saying “build might be stale, please update from develop”. Then reviewers/authors can take a closer look, and if someone introduces a new check, they can look at PRs with this label and restart the checks if it makes sense.

[2020-08-24 15:46] ankita240796 opened #118 "Automatically record which codeowners are not following the 24 hour response time"
Oppiabot should automatically record which codeowners are not following the 24 hour response time.

[2020-08-25 19:11] BenHenning opened #120 "[High priority] Some of Oppiabot's webhook events are deprecated & will soon stop working"
See https://developer.github.com/changes/2020-04-15-replacing-the-installation-and-installation-repositories-events/ for context. There will be a brownout on September 1 for these events, and on October 1 they will stop working.

[2020-08-25 19:11] BenHenning commented on #120
/cc @ankita240796

[2020-08-25 19:47] ankita240796 commented on #120
We don't these two webhook events anywhere in the oppiabot codebase, so no change is required from our end.

[2020-08-25 19:47] #120 closed

[2020-08-27 20:51] U8NWXD opened #122 "New Feature: Reminders for PRs Changing E2E Tests"
# Context and Motivation

The E2E team has been introducing new expectations for PRs that modify the E2E tests, for example rerunning the changed tests 5 times to make sure they aren't flaky. Using Oppiabot to leave reminders on these PRs would help contributors remember these new processes.

# Desired Behavior

Oppiabot leaves a comment on every PR that affects the E2E tests. These are all the fi

[2020-08-27 22:02] BenHenning commented on #122
Some of these checks might better fit as CI checks rather than something Oppiabot enforces (see https://github.com/oppia/oppia-android/pull/1729 for something we're introducing on the Android side). In particular, I think the demarcation should be:
- Static analysis checks & code enforcement checks should be enforced using CI
- Process enforcement (e.g. branch naming, PR format, etc.) should be en

[2020-08-28 01:08] U8NWXD commented on #122
@BenHenning sorry if the issue description was unclear; I did not mean to ask that Oppiabot enforce any of the listed practices. The e2e team will enforce them when we do code reviews, and we are looking to add them to the linters. The goal here is to have Oppiabot remind contributors to check that their PRs follow these practices, similarly to how the PR template has a checklist of reminders like

[2020-08-31 13:29] ankita240796 commented on #75
This is fixed by #104.

[2020-08-31 13:29] #75 closed

[2020-09-02 12:43] jameesjohn opened #125 "Bug with new code owner check"
A bug was noticed on the code owner check https://github.com/oppia/oppia/pull/10534/.
After investigating, the issue is that when checking for new code owners, we don't ignore comments. And the above pull request added comments in the code owner file that included user names.

[2020-09-02 14:29] #125 closed

[2020-09-03 07:19] ankita240796 commented on #36
This is fixed by #110.

[2020-09-03 07:19] #36 closed

[2020-09-03 07:21] ankita240796 commented on #35
[Detailed flow for handling reviews](https://docs.google.com/document/d/1m-7dZWGw77hZ6GOnjBu4p1XGXxyBPY2n2pzf-76RuTY/edit#). Fixed by #116, #121, #119.

[2020-09-03 07:21] #35 closed

[2020-09-10 16:15] rt4914 opened #129 "Android Feature: Update contributors about pending PRs"
Currently in Oppia-Android, we follow up with the inactive contributors by following these steps:
1. Follow up with student after 7 days of no-activity by commenting on issue and sending an email.
2. If they reply within next 7 days, great, else after 7 days (2 weeks at this point from start), close the PR and mark student as lapsed.

Instead this follow-up process should be automated via oppia-bo

[2020-09-10 16:16] rt4914 commented on #129
@BenHenning

[2020-09-15 20:46] BenHenning commented on #129
There are two parts here that might not be straightforward for Oppiabot:
- Sending the email to ping the student: is an at-mention not sufficient here?
- Marking a student as lapsed: perhaps just at-mentioning the team lead and/or onboarding contributor would be sufficient?

@jameesjohn / @ankita240796 how does this relate to the existing Oppia web onboarding process? This seems like something tha

[2020-09-16 04:43] rt4914 commented on #129
at-mention should also work as it will automatically send emails too from Github side.

Your suggestion can also work easily. I have just mentioned the current manual process that we follow. I think at-mentions in both cases can work easily.

[2020-10-01 17:46] vojtechjelinek opened #133 "Update dependecies"
Update the versions of oppiabot dependencies

[2020-10-01 23:19] BenHenning commented on #133
@vojtechjelinek can you add context on which dependencies need to be updated & why?

[2020-10-02 06:59] jameesjohn commented on #62
Probot stale has been updated, and we resolved to keep probot stale since it has a different interval with what we currently use for other periodic checks, and it might be complex to add the functionality to oppiabot.

[2020-10-02 06:59] #62 closed

[2020-10-02 07:03] jameesjohn opened #134 "Alert onboarding team based on contributor activity"
If there are contributors who are not listed in either the onboarding tracker or on the CLA,  alert the onboarding team.
This should be done for both issues and pull requests, using probot.

[2020-10-02 07:05] jameesjohn opened #135 "PR status update checks"
Notify @vojtechjelinek on PRs with slow last-updated checks.

[2020-10-02 07:24] jameesjohn opened #136 "Investigate response time errors"
We are seeing a lot of response time errors on Heroku: https://dashboard.heroku.com/apps/murmuring-castle-33250.
These errors are resulting in checks being flaky even though the implementation is correct. One of the occurrences was with a CLA check where it did not work on a PR but when investigated later, worked fine.

- One of the possible reasons for this is the large number of new checks which

[2020-10-06 11:31] jameesjohn commented on #129
I think @showtim3 will be able to help here

[2020-10-06 11:40] jameesjohn commented on #129
I think the mentions will suffice, however, but I need confirmation from @Showtim3

[2020-10-06 19:06] vojtechjelinek commented on #77
File an issue in oppia/oppia.

[2020-10-06 19:08] vojtechjelinek commented on #73
We had this in the tracker for oppiabot and decided not to do this: Rationale for not doing: sometimes PRs by trusted authors are given "LGTM but please fix this before merging"; this would circumvent that.

[2020-10-06 19:08] #73 closed

[2020-10-06 19:14] vojtechjelinek commented on #135
I'm not sure what does this mean, if I remember we can reopen this.

[2020-10-06 19:14] #135 closed

[2020-10-07 07:39] jameesjohn commented on #38
Currently, oppiabot has been implemented to also assign the PR author if the PR does not have a changelog label at the time of creation, and there have been no concerns with the current implementation.

[2020-10-07 07:39] #38 closed

[2020-10-07 07:53] jameesjohn opened #137 "Move periodic checks to github actions"
Since probot scheduler is being archived, we need to move the periodic checks to Github actions.
Github actions allow us to set up a cron job as part of the jobs needed for the action. But to enable the action to be able to comment on pull requests, we need to authenticate as oppiabot.

See https://github.com/probot/probot/issues/1370#issuecomment-701563548 for more information.

[2020-10-09 16:46] vojtechjelinek commented on #117
@jameesjohn Hi, I have changed the priority of this since we want this resolved as the core maintainers.

[2020-10-11 19:17] vojtechjelinek commented on #77
@jameesjohn Could you file issue on https://github.com/oppia/oppia and then close this, please.

[2020-10-11 19:24] vojtechjelinek commented on #15
@seanlip Do we still want a feature like this?

[2020-10-12 12:41] vojtechjelinek opened #138 "Fix text in PR comment about the changelog label"
![image](https://user-images.githubusercontent.com/10142938/95747502-ddc26900-0c98-11eb-9f04-30a9f7b9120e.png)
note the start of the second line, there is "@vojtechjelinekto", it should be "@vojtechjelinek to"

[2020-10-12 16:40] #138 closed

[2020-10-12 23:28] anandwana001 commented on #56
@jameesjohn @vojtechjelinek Is this a correct set we need to add?

[code]

[2020-10-13 05:46] jameesjohn commented on #56
Hi @anandwana001, yes, that is the right license text to add. The only change would be the year of the copyright.

[2020-10-13 05:48] anandwana001 commented on #56
What should be the year?

[2020-10-13 05:49] jameesjohn commented on #56
2020

[2020-10-13 06:59] anandwana001 commented on #87
@vinitamurthi Rather than going for stale branches can we have something where the bot will delete the branch as soon as it gets merged?

We do require the other as you mentioned, deleting the branch which is not in use for a while but I guess this can go with the closing of inactive PR and deleting the branch.

[2020-10-13 07:01] anandwana001 commented on #98
@jameesjohn
The current codebase doesn't have `checkIssueAssigned ` but it does have `checkIssueAssignedSpec` file.

[2020-10-13 07:07] anandwana001 commented on #103
@ankita240796 Is this issue is about adding Lint checks for Js files, just like `js_ts_linter.py` we have in oppia?

[2020-10-13 08:46] vojtechjelinek commented on #103
@anandwana001 Yep, primary enforce some basic checks for JS files.

[2020-10-13 08:54] vinitamurthi commented on #87
Oppia bot on web marks stale PRs and I think it closes them. My understanding was that there's a way to delete branches of merged/closed PRs in Github settings itself but maybe I am wrong

[2020-10-13 09:00] #56 closed

[2020-10-13 09:40] anandwana001 commented on #103
@vojtechjelinek Ok,
So, what I understand from here is:
1. Add eslint to project
2. Fix the current lint issues and send PR

or does this include adding eslint to pre-commit also?

Could you help me out here as I am new to Js things?

[2020-10-13 09:42] vojtechjelinek commented on #103
I think you can start with the first two steps, we can add pre-commit stuff later.

[2020-10-13 10:08] anandwana001 commented on #103
@jameesjohn Does this Q&a and .json file are correct while setting up the eslint `eslint --init` ?

<img width="808" alt="Screenshot 2020-10-13 at 15 34 51" src="https://user-images.githubusercontent.com/25057618/95846956-bdaeaa80-0d69-11eb-8175-d6d87e6fe66e.png">

`.eslintrc.json`

[code]

[2020-10-13 12:04] jameesjohn commented on #103
1 is fine. We should lint single quotes.
2: We should enforce double-quotes for JSON files.
3. Yes, we should lint brackets.

[2020-10-13 13:10] jameesjohn commented on #98
Oops, my bad.
The name of the file should be `checkIssueAssignee.js`

[2020-10-13 14:27] anandwana001 commented on #103
I will be sending sub PR's as in 1 PR the changes are going very big.
Also, could you please add hacktoberfest label to this issue?

[2020-10-13 14:51] vojtechjelinek commented on #103
@anandwana001 hacktoberfest label on thiss issue would not help to cout the PRs, but we will amrk your created PRs with `hacktoberfest-accepted` once they are merged/approved.

[2020-10-14 08:37] anandwana001 opened #142 "Introduce pre commit linter"
After adding of eslint and fixing of all the files, we need to have eslint to check on pre-commit.

[2020-10-19 04:47] anandwana001 commented on #103
@vojtechjelinek please assign the issue to me, as it will prevent conflict if other contributors looks here.

[2020-10-19 08:40] seanlip opened #143 "Fix typo in Oppiabot message"
The aim of this issue is to fix a typo with Oppiabot -- in particular, adding a space after the username in the "Assigning @dchen97to add the required label" section.

As an example, please see:

https://github.com/oppia/oppia/pull/10999#issuecomment-711321730

[2020-10-23 11:13] #143 closed

[2020-10-24 20:30] seanlip opened #147 "Clarify the reason for why a PR is being closed."
Per https://github.com/oppia/oppia/pull/11042#issuecomment-715602948, would it be possible to separate out the error messages for the following specific cases:

- PR was made from a develop branch
- PR was made from a branch whose name is prefixed with develop
- PR was made from a branch whose name is prefixed with release
- PR was made from a branch whose name is prefixed with test

This will hel

[2020-10-25 11:55] anandwana001 commented on #103
@jameesjohn
Regarding the file `actions_build/index.js` why are we having `/******/` such blocks at a lot of places?

[2020-10-25 11:57] jameesjohn commented on #103
The `actions_build/index.js` file is auto-generated. It should be excluded from the lint checks.

[2020-10-29 07:45] BenHenning commented on #147
Out of curiosity, why do we disallow branches that start with 'test'? I understand the reason to prohibit the other two, but this one isn't clear to me. Is it to basically avoid cases like 11042 where people create intentional test branches?

[2020-10-29 07:49] seanlip commented on #147
It's because we use those branches for test deployments.

[2020-10-29 21:09] BenHenning commented on #147
Ah, is that something new in the last couple years? I haven't kept up closely with the web release process.

[2020-10-29 21:11] BenHenning opened #149 "Bug in owners message"
Oppiabot's "new owners" message is confusing, see: https://github.com/oppia/oppia/pull/11084#issuecomment-719022812. Specifically:
1. It's copying unrelated things from the owners file (comments)
2. Why does Vinita care about this? Just because she's the initial reviewer? Sandeep actually has to approve the change, so it seems more relevant to him as the codeowner of the changed file.

[2020-10-29 21:12] BenHenning opened #150 "Maintainers checklist is not relevant for non-fork branches"
See https://github.com/oppia/oppia/pull/11084#issuecomment-719022838. While most contributors create PRs that use forks and need to have that checkbox ticked, it's implicit for all branches created directly on the repository. We shouldn't raise this error except for branches on forks.

[2020-10-29 21:13] BenHenning opened #151 "Oppiabot shouldn't warn for CI failures that aren't required"
See: https://github.com/oppia/oppia/pull/11084#issuecomment-719022863. These CI failures are the new Google Cloud Build checks that are being built. They currently immediately and always fail for all PRs, but because they aren't required we can ignore them for PR submission. Oppiabot should also ignore non-required CI checks for the same reason.

[2020-10-29 21:16] BenHenning opened #152 "Oppiabot should make the CI error more actionable"
See https://github.com/oppia/oppia/pull/11084#issuecomment-719022863. Currently, Oppiabot instructs the user to report an issue. Could we maybe introduce a new Oppia issue template & pre-fill it out with the information Oppiabot noticed? E.g. it would be really helpful if we pre-populate the failing check, the PR number, and a link to the check results. I think Oppiabot has access to all of this,

[2020-10-29 21:17] BenHenning opened #153 "The CHANGELOG error isn't quite correct"
See https://github.com/oppia/oppia/pull/11084#issuecomment-719022790. Some PRs legitimately do not need to have a changelog, so we should have a way to opt out of the error (e.g. maybe by having a label like 'CHANGELOG: N/A' or something).

[2020-11-04 21:24] jameesjohn commented on #77
The issue has been created at https://github.com/oppia/oppia/issues/11130

[2020-11-04 21:24] #77 closed

[2020-11-09 07:40] jameesjohn commented on #153
Wouldn't the 'miscellaneous' changelog label suffice here?

[2020-11-09 08:02] jameesjohn opened #155 "Fix bug in changelog error message"
Oppiabot's message when a PR does not have the changelog label has a typo.
See https://github.com/oppia/oppia/pull/11147#issuecomment-723481455 for more details.

[2020-11-09 10:44] #117 closed

[2020-11-09 10:54] jameesjohn commented on #155
Closing this since it was fixed in https://github.com/oppia/oppiabot/issues/143, but the build was not deployed.

[2020-11-09 10:54] #155 closed

[2020-11-18 19:41] kevintab95 opened #156 "Oppia bot seems to add and remove stale label at the same time"
In https://github.com/oppia/oppia/pull/10887, Oppia-bot seems to have added stale label, then removed it. This action caused the PR to stay open for longer.

![image](https://user-images.githubusercontent.com/11008603/99578935-889a1580-2a03-11eb-9eb9-9a4fb769aaa1.png)

[2020-11-18 19:45] kevintab95 commented on #156
Update: The author seems to have added a comment after the first time Oppia bot added the "stale" label. This is why the label was removed the same day. Closing.

[2020-11-18 19:45] #156 closed

[2020-11-19 21:52] vojtechjelinek commented on #103
@anandwana001 Hi, will you continue working on this?

[2020-11-19 21:54] vojtechjelinek opened #157 "Ensure that every issue is assigned to a project"
Ensure that every issue is assigned to a project. This should be done with two things:

1. Oppiabot comments on new issues that they need to be assigned to some project
2. Periodic job will comment on issues that are not yet assigned to some project

[2020-11-19 21:58] vojtechjelinek commented on #153
@jameesjohn We do not have that label anymore it seems, this can be probably just about adding the lable on the oppia repo right?

[2020-11-19 22:04] vojtechjelinek commented on #152
I don't think we should prefill an issue for the flaky tests, we already track the flaky tests through our automated tests logger/restarter.

[2020-11-19 22:07] vojtechjelinek opened #158 "Oppiabot does not comment on PRs from forks"
It seems to me that some of the oppiabot comments are only added to PRs from branches that are directly on the repo and not for PRs made from branches that are on a forked repo. For example this one:

[code]
and also maybe tha build stale check (#154).

[2020-11-19 23:36] anandwana001 commented on #103
@vojtechjelinek isn't all the files are done?

[2020-11-20 03:39] anandwana001 commented on #103
[x] actions package
[x] lib package
[x] spec package

[2020-11-20 12:23] #103 closed

[2020-11-25 22:19] vojtechjelinek opened #160 "Oppiabot should merge PRs if they qualify to be merged"
When PR has:

- all required tests passing
- all reviews
- LGTM label
- no DO NOT MERGE label

the Oppiabot should try to merge it. This would help with merging PRs that are just waiting for some tests to pass. There are existing solutions for this as GitHub Actions so we might use these.

[Dec 2020] The issue is that the GitHub events 'check_run' and 'check_suite' are not fired for completed test

[2020-11-26 22:48] vojtechjelinek opened #161 "Change tagged person when adding new models"
The comment for newly added models should tag @vojtechjelinek and not Ankita.
![image](https://user-images.githubusercontent.com/10142938/100395607-e355f180-3041-11eb-999d-b340a868b6f0.png)

Check for other places where Ankita is mentioned.

[2020-12-02 02:52] BenHenning opened #163 "Feature request: enforcing TODOs"
The Oppia codebases require TODOs in code to be of the form ``TODO(#1234)`` where ``#1234`` corresponds to an issue number. Enforcing the format falls under static analysis and is something that the dev workflow team should look into adding. That being said, there's one aspect of TODO enforcement that Oppiabot is in an exclusively unique position to manage: making sure that issues aren't closed if

[2020-12-03 06:36] vojtechjelinek opened #164 "Change tagged person for the 'good first issues' label"
Instead of tagging Showtime3, Oppiabot should tag DubeySandeep when someone assigns the 'good first issue' tag https://github.com/oppia/oppia/issues/11313#issuecomment-737695429

### TODO

- [ ] Replace Showtime3 with DubeySandeep in the comment
- [ ] Find other mentions of Showtim3 in the oppiabot codebase and replace him with appropriate person
- [ ] When some person is included in a comment pre

[2020-12-08 20:03] #164 closed

[2020-12-10 12:16] vojtechjelinek opened #166 "Oppiabot should be more proactive towards new contributors"
For PR authors who are new users: when they respond to reviews, and fail to leave a top-level comment, Oppiabot should ping the author and ask them to either say they’re still working on this, or @-mention the person they want a review from.

[2020-12-10 16:10] jameesjohn commented on #161
Closing this as it was fixed as a part of #165 and has been deployed to heroku.

[2020-12-10 16:12] #161 closed

[2020-12-12 23:40] vojtechjelinek opened #170 "Mention also vojtechjelinek when new jobs are added"
When this kidn of comments is created https://github.com/oppia/oppia/pull/11316#issuecomment-742996539 mention also @vojtechjelinek

[2020-12-15 23:01] #170 closed

[2020-12-19 19:14] DubeySandeep opened #174 "Add test to ensure that bot doesn't gets triggred with "@{{username}} PTAL" comment"
We have added `"{{Question/comment}} @{{reviewer_username}} PTAL"` test in the PR template ([ref](https://github.com/oppia/oppia/pull/11291/files#r546254529)).

Through this issue, we are expecting to add a unit test to make sure that oppia bot doesn't get triggered anytime with the above pattern.

[2020-12-22 05:49] BenHenning commented on #152
I think one issue with the current flow is it's not clear to PR authors how to proceed when they encounter a flaky test. Is that something that we can make better with Oppiabot? I think the automatic tracking you mentioned is a bit of a blackbox for PR authors. I also don't see anyone follow up when a test does fail--it usually requires a maintainer to restart the test to unblock the PR.

[2020-12-22 12:03] vojtechjelinek commented on #152
I think the situation with tests is a bit better now and they are usually automatically restarted. The other problem with implementing this is that GitHub doesn't create events on tests completion/fail for PRs from forked repositories.

[2020-12-29 05:17] jameesjohn opened #175 "Investigate issue with Oppiabot's comments"
Oppiabot's comment when a new user gets added to the code owners file is unreadable and looks incorrect. This needs to be investigated and fixed appropriately.

For context, see https://github.com/oppia/oppia/pull/11478#issuecomment-749875175, https://github.com/oppia/oppia/pull/11478#issuecomment-749886142.

[2020-12-29 05:33] jameesjohn opened #176 "Oppiabot does not assign author after pull request has been approved"
In some pull requests, oppiabot does not assign the appropriate user to merge the pull request even after adding the LGTM label.

See https://github.com/oppia/oppia/pull/11376, https://github.com/oppia/oppia/pull/11316.

__Expected Behaviour__

Oppiabot should assign the PR author if they have merging privileges or assign the project owner from the changelog label to merge the pull request if the

[2020-12-29 05:40] jameesjohn opened #177 "Modify Oppiabot comment during periodic check"
Oppiabot periodically goes through all pull requests and assign the appropriate users. When oppiabot is unable to figure out who the appropriate assignees are, it flags it and mentions the core maintainers. See https://github.com/oppia/oppia/pull/11405#issuecomment-749405670.

This message needs to be rephrased to something better.

[2020-12-29 11:58] vojtechjelinek commented on #177
I would say something like "@… I cannot decide what to do with this PR, please assign people manually." And maybe you can also tag yourself or maybe tag the person responsible for Oppiabot right now to investigate this.

[2020-12-30 23:43] kevintab95 opened #178 "Oppiabot should ping in the PR thread if "Proof that changes are correct" is left unaddressed"
We could have oppiabot ping in the PR thread if "Proof that changes are correct" is left unaddressed.

[2021-01-01 08:50] DubeySandeep opened #179 "Bot should remove the "Stale Build" label once a new commit is pushed"
Currently, the Oppia bot adds a "Stale Build" label to the PRs where the PR CI builds ran 2+ days ago. But even if someone pushes new changes to the PR the Oppia bot doesn't remove the "Stale build" label.

Through this issue, we are expecting to remove the "Stale Build" label once a PR gets updated.

[2021-01-01 08:51] DubeySandeep commented on #179
@vojtechjelinek @jameesjohn, will it be possible to fix this quickly? Though it's not blocking anyone new-contributors are finding this confusing. Thanks! :)

[2021-01-01 18:26] vojtechjelinek opened #180 "Errors on production"
[code]

[code]

[2021-01-01 20:35] jameesjohn commented on #179
Yes @DubeySandeep
I'll look into this tomorrow.

[2021-01-01 21:59] vojtechjelinek commented on #136
The error most probably occurs here (I found out about this from logs) https://github.com/oppia/oppiabot/blob/750df3745e0aa26b488cc1556bd996798f259194/lib/checkPullRequestReview.js#L263
We will need to respond to the request before the three minutes. So ideal would be to just register the review and respond and after three minutes pass run a separate routine that will check if actions are required

[2021-01-02 11:27] jameesjohn commented on #136
@vojtechjelinek, what do you mean by register the review?

[2021-01-02 12:23] vojtechjelinek commented on #136
Nothing specific, just respond to the request so that it is properly closed so that it doesn't timeout

[2021-01-06 09:12] riyasingh1004 commented on #98
Hi, I would like to work on this issue. Can someone guide me how to get started as I am still trying to understand the codebase.

[2021-01-06 09:21] DubeySandeep commented on #179
Hi @jameesjohn, any update on this issue? Do you have a rough ETA of when this can be resolved? :)

[2021-01-07 09:52] jameesjohn commented on #98
Hi, @riyasingh1004. I'm available to guide you to understand the codebase.

[2021-01-07 14:42] riyasingh1004 commented on #98
@jameesjohn thank you. Should I ask all the doubts here or is there a separate channel for the project. Also can you tell me how to get started with this issue.

[2021-01-07 21:11] DubeySandeep opened #182 "Cron job to ping codeowners who has not reviewed assigned PRs within 24 hrs."
This is a feature request to send an email to the reviewers if they haven't reviewed the assigned PRs within 24 (or 36) hrs. ccin'g dev-workflow team or org admin. The reviewer receiving this email should be expected to respond to the email within the next 12 hrs. with the status of assigned PRs.

[2021-01-07 21:13] DubeySandeep commented on #182
@jameesjohn , I'm not sure whether oppiaBot can do the following things:
  1. Send email to recipients
  2. Run Cron jobs

 Do you think it will be possible for oppiaBot to have this feature?

[2021-01-07 22:06] jameesjohn commented on #182
1. I'm not sure it would be nice to have oppiabot send emails to users.
2. Yes, oppiabot can rn Cron jobs.

[2021-01-07 22:10] jameesjohn commented on #98
We primarily use hangouts for communication. However, make sure you have signed the CLA which can be found [here](https://goo.gl/forms/AttNH80OV0). Once you are done with that, you can send me a message on hangouts (my email is available on my profile).

Thanks.

[2021-01-08 00:53] DubeySandeep commented on #182
Can you please add your thoughts on why it won't be nice? [I just wanted to understand the thoughts behind it.] :)

[2021-01-09 00:39] vojtechjelinek opened #184 "Notify `serverJobAdmins` about any new cron jobs"
Similar to one-off jobs, Oppiabot should notify server admins about new cron jobs so that they can be tested on the backup server.

[2021-01-12 22:24] #179 closed

[2021-01-16 06:55] riyasingh1004 commented on #98
Thank you, I have sent you the message request in hangout and have signed the CLA.

[2021-01-20 15:01] vojtechjelinek commented on #158
This cannot really be fixed, since results for CI and checks are not available on fork PRs.

[2021-01-20 15:01] #158 closed

[2021-01-20 15:15] vojtechjelinek commented on #160
GitHub introduced the auto merge feature in December so this has a lower priority now.

[2021-01-21 16:02] vojtechjelinek commented on #129
@rt4914 @BenHenning I remember you mentioning that you have already implemented something for notifying your onboarders about new contributors? Is that true? Does this issue still stand?

[2021-01-21 16:06] rt4914 commented on #129
@vojtechjelinek There is only one thing that I know which is we have a Discord Channel and @BenHenning has implemented bots which pings in the channel whenever a contributor does any activity on github. It can be comment, issue, PRs, etc. This channel does help me in knowing whats going on.
@BenHenning Can add more details.

[2021-01-21 16:23] vojtechjelinek commented on #174
@DubeySandeep What do you exactly mean by the issue? What should the tests exactly check for?

[2021-01-21 16:27] vojtechjelinek commented on #157
@anandwana001 Hi, did you have time to look into this?

[2021-01-21 16:30] vojtechjelinek commented on #153
I have added 'PR CHANGELOG: Miscellaneous -- @vojtechjelinek' label

[2021-01-21 16:30] #153 closed

[2021-01-22 04:25] U8NWXD commented on #122
Nope, I'm closing it

[2021-01-22 04:25] #122 closed

[2021-01-22 05:00] HarshKhilawala commented on #147
@jameesjohn I would like to work on this!
 @vojtechjelinek !

[2021-01-22 05:02] HarshKhilawala commented on #177
@jameesjohn @vojtechjelinek  Would like to work on this one too!

[2021-01-22 05:07] seanlip commented on #15
Hm, I'm not sure. Is it even possible to do a lint check for this? If so that sounds reasonable.

Maybe discuss with @DubeySandeep?

[2021-01-22 05:13] anandwana001 commented on #157
Get stuck at the android side. I will schedule a meeting with @jameesjohn or you(@vojtechjelinek) if anyone is available regarding this issue and also just saw the email regarding node.js. If you could help me get started with it and if there is any other issue you want me to work on.

[2021-01-22 10:33] jameesjohn commented on #177
Sure @HarshKhilawala
You have been assigned the issue.

[2021-01-22 10:35] jameesjohn commented on #157
Sure, we can schedule a meeting to discuss this.

[2021-01-26 16:48] vojtechjelinek commented on #180
@jameesjohn Only one error from this issue is fixed, so reopening this

[2021-01-26 16:49] jameesjohn commented on #180
Right

[2021-01-26 17:22] riyasingh1004 commented on #147
I would like to work on this issue

[2021-01-26 18:18] AkshadK7 commented on #147
I would also like to work on this issue and help make the PRs more Reasonable.

[2021-01-26 22:31] DubeySandeep opened #187 "Message asking project lead to merge the PR should have info on why they are expected to merge other's PR"
**Current situation:**
When the author doesn't have the rights to merge a PR then oppiaBot asks the team lead to merge the PR:
[code]

**Suggestion:**

In general, we expect PR authors to get their PRs merged but if in any case, we are asking anyone else to merge the PR then the bot should add info about why they are asked to merge the PR.

[2021-01-26 23:05] vojtechjelinek commented on #147
@AkshadK7 Sorry, this is already taken but you can take a look into #187

[2021-01-28 18:15] DubeySandeep commented on #174
I just wanted to have a unit test to ensure that oppiaBot doesn't assign contributors if the comments are around the text "{{Question/comment}} @{{reviewer_username}} PTAL". [This test will help us to ensure in future the oppiaBot doesn't get triggered with the PR template comments.]

[2021-01-29 04:13] HarshKhilawala commented on #187
@jameesjohn @vojtechjelinek Please assign me this issue.

[2021-01-29 10:09] #177 closed

[2021-01-29 10:10] jameesjohn commented on #187
Done.
You can start working on the issue.

[2021-01-29 18:57] #187 closed

[2021-01-29 19:09] mridul-netizen commented on #174
Can i work on this one?

[2021-01-30 03:19] HarshKhilawala commented on #149
@vojtechjelinek @jameesjohn Please assign me this issue.

[2021-01-30 09:06] mridul-netizen commented on #174
@DubeySandeep @vojtechjelinek I'm expecting this
`describe(
    'when author asks some question/comment and asks reviewer to ptal',
    () `
`=> {
        beforeEach(async () => {`
`   pushPayload.payload.forced = false;
            await robot.receive(pushPayload);
          });`
`
          it('should not comment on pull request', () => {
            expect(github.issues.createComment).not.toHav

[2021-01-30 09:09] jameesjohn commented on #149
Done.
You can start working on this.

[2021-01-30 10:28] mridul-netizen commented on #174
this is the regex expression I made for testing it `/^([a-z0-9\s]+ @\s*\w+\s* [pP][tT][aA][lL])/gm` you can test it [here](https://regex101.com/r/pqLiss/1)

[2021-01-30 14:23] vojtechjelinek commented on #174
@mridul-netizen Looks good to me.

[2021-02-02 20:21] gp201 commented on #98
@vojtechjelinek Can I take up this issue

[2021-02-06 12:37] HarshKhilawala commented on #184
@vojtechjelinek  Please assign me this issue.

[2021-02-07 09:34] Suhail-BW commented on #147
@vojtechjelinek  I know this is not the right place to ask but i am absolutely new here, what is the best way to communicate with other contributors.

[2021-02-07 19:57] hardikkat24 commented on #147
@Suhail-BW Hello. Here is a [link](https://gitter.im/oppia/oppia-chat) to gitter where you can communicate with others. Also have a look at the [wiki](https://github.com/oppia/oppia/wiki).

[2021-02-08 01:56] gp201 opened #195 "Making the CLA sheet setup easier"
Currently, the process of seting up oppiabot locally to run the cla checks is a bit complex.
This issue aims at making it less complex to setup the cla checks locally.

[2021-02-08 01:57] gp201 commented on #195
@jameesjohn PTAL

[2021-02-08 08:41] riyasingh1004 commented on #176
@jameesjohn I would like to work on this issue.

[2021-02-08 12:56] gp201 commented on #150
@jameesjohn please assign this issue to me.

[2021-02-08 14:42] jameesjohn commented on #150
Done. You can start working on this.

[2021-02-09 17:18] mridul-netizen commented on #184
can i take up this one?

[2021-02-10 11:36] gp201 opened #198 "Remove LGTM label if changes are requested."
If after the LGTM label is placed, a reviewer request for changes then the LGTM label must be removed.
Ref: [Link](https://github.com/oppia/oppia/pull/11701#pullrequestreview-579995313)

[2021-02-10 11:37] gp201 commented on #198
@jameesjohn PTAL

[2021-02-12 22:21] #150 closed

[2021-02-15 11:30] b2pacific commented on #175
I want to work on this issue. @jameesjohn can you assign this to me?

[2021-02-15 11:53] jameesjohn commented on #175
Hi @b2pacific, I think this issue might be a bit complex for a first-time contributor. You might want to look into https://github.com/oppia/oppiabot/issues/198.

[2021-02-15 12:27] b2pacific commented on #198
@jameesjohn I'll work on this issue, please assign this to me.

[2021-02-15 17:46] gp201 commented on #178
@jameesjohn Can I take this up?

[2021-02-15 18:42] DubeySandeep opened #201 "Bot is asking @undefined user to add changelog label to the PR"
OppiaBot is leaving is asking undefined users for adding a changelog label.

`Hi @undefined, @undefined -- could one of you please add the appropriate changelog label to this pull request? Thanks!`

Comment link: https://github.com/oppia/oppia/pull/11957#issuecomment-779131071

[2021-02-17 13:03] jameesjohn commented on #201
I've looked into this problem, and I think this happened because GitHub triggered the pull_request.opened event before requesting reviews from the code owners.
This comment https://github.com/oppia/oppia/pull/11957#issuecomment-779131071 came before the notification of requesting code owner reviews. Hence when the bot tried to ask a reviewer to add the appropriate label, it got undefined.

[2021-02-17 13:10] jameesjohn commented on #201
In https://github.com/oppia/oppia/pull/11967, GitHub requested the reviews from code owners before triggering the `pull_request.opened` event, then the bot was able to ask the appropriate reviewer to add the changelog label.

So I think the fix for this is to delay the changelog label check by some seconds to carter for any change in order from Github. What do you think @vojtechjelinek?

[2021-02-17 13:12] jameesjohn commented on #198
Done.
You can start working on this @b2pacific.

[2021-02-17 15:08] b2pacific commented on #198
@jameesjohn  I made a PR, but one of the tests(frontend test) failed and I'm not sure why. Can you help me out?

[2021-02-18 22:46] vojtechjelinek commented on #201
@jameesjohn Yep, I'm fine with that, we just need to make sure that no more timeouts occur or that they are properly handled.

[2021-02-23 21:45] vojtechjelinek opened #205 "Add a GitHub Action for the "PR: don't merge…" labels"
Couldn't we add a GitHub actions check that fails on the presence of the "PR: don't merge…" labels & make it a required check?

I think we can listen for label changes, too, so that particular workflow re-runs if we did that, I'm pretty sure auto-merge would respect it since it has to match normal merging criteria (which for us is approvals + all required tests passing).

[2021-02-23 21:52] vojtechjelinek commented on #205
Hi @jameesjohn, do you think this would be possible to do? Do you see any problems that could arise from implementing this?

[2021-02-24 10:34] jameesjohn commented on #205
Yes, this is very possible to achieve. I'm not sure of any problems that could arise from this, but do you think the action should be written in oppiabot GitHub actions or in the main oppia repo?

[2021-02-24 10:37] #149 closed

[2021-02-24 12:22] vojtechjelinek commented on #205
I guess similar to the action that is used to checking issue labels.

[2021-02-24 21:59] jameesjohn commented on #205
Right, okay.

[2021-03-02 14:39] Mayank-gaur commented on #147
Hi!  Can  you please assign me to any task in this issue? I want to work on this issue.

[2021-03-03 08:50] nlok5923 commented on #142
I would like to work on it please assign to me.

[2021-03-03 13:53] vojtechjelinek commented on #147
@Mayank-gaur Riya is already working on this issue.

[2021-03-05 09:07] jameesjohn opened #207 "Remove Sean from server job admins"
Following @seanlip's comment on https://github.com/oppia/oppia/pull/11967#issuecomment-790909157, he needs to be removed from the list of server job admins.

The list of server job admins can be found in the `userWhitelist.json` file.

[2021-03-05 09:14] SAEb-ai commented on #207
@jameesjohn Can I take up this issue.

[2021-03-05 09:16] jameesjohn commented on #207
Sure.

[2021-03-05 15:30] jameesjohn commented on #142
Done @nlok5923!

[2021-03-05 17:36] nlok5923 commented on #98
@vojtechjelinek if this issue is up for grabs i would like give it a try.

[2021-03-05 20:06] Mayank-gaur commented on #207
Hi! I want to work on this issue.  @jameesjohn  can you please guide me how can I get started with the issue?

[2021-03-05 20:11] Mayank-gaur commented on #147
@jameesjohn  @vojtechjelinek  I am new to the oppiabot, can you please suggest me some good first issues to start with? I am not able to find any unassigned issues actually. Do you know any?

[2021-03-05 20:22] jameesjohn commented on #207
Hi @Mayank-gaur, this issue has already been assigned to @SAEb-ai

[2021-03-05 20:31] jameesjohn commented on #147
Hi @Mayank-gaur, the available issues are not new-contributor friendly. I suggest taking a look at the good first issues on [oppia/oppia](https://github.com/oppia/oppia).

[2021-03-05 20:44] Mayank-gaur commented on #147
@jameesjohn I have looked at oppia issues, and I have submitted a PR also.(It is being reviewed and I think is close to getting merged also). What I meant is I want to learn about oppiabot and start contributing to it. Can you please guide me how can i begin this? I have installed oppiabot.

[2021-03-07 09:14] nlok5923 opened #210 "feat: create an editorconfig file for project"
it would be great for a project to have an editorconfig file to maintain the quality code standards and formatting style.

Thanks!

[2021-03-07 09:14] nlok5923 commented on #210
i would like to work on this issue if this is valid

[2021-03-07 18:45] #207 closed

[2021-03-08 05:57] SAEb-ai commented on #176
@vojtechjelinek @jameesjohn Can I take up this issue.

[2021-03-08 12:19] vojtechjelinek commented on #176
@SAEb-ai Riya is already assigned to this issue.

[2021-03-08 12:58] SAEb-ai commented on #160
@vojtechjelinek @jameesjohn  Can I take up this issue?
Thanks!

[2021-03-08 12:59] SAEb-ai commented on #176
@vojtechjelinek Okay. Thanks!

[2021-03-10 13:14] SAEb-ai commented on #160
@vojtechjelinek @jameesjohn Can I take up this issue?
Thanks!

[2021-03-12 05:20] nlok5923 commented on #166
@vojtechjelinek please can u assign me this issue.

[2021-03-14 14:31] SAEb-ai opened #212 "Unassign the author after addition of PR CHANGELOG label"
Oppiabot should unassign the author after the PR CHANGELOG label is added. This is meant only for this job. But if the reviewer has requested some changes then oppiabot should not unassign the author even if the PR CHANGELOG label is added. (oppia/oppia#12205)

@jameesjohn @vojtechjelinek PTAL. I want to work on this issue.

[2021-03-16 11:12] nlok5923 opened #213 "oppiabot tag @undefined to add changelog label"
refer pr [#12228](https://github.com/oppia/oppia/pull/12228)
This happens when there are multiple codeowners

@vojtechjelinek @jameesjohn  PTAL

[2021-03-16 11:21] nlok5923 commented on #213
@vojtechjelinek i want to work on this issue.

[2021-03-16 11:32] vojtechjelinek commented on #213
@nlok5923 Sure I have assigned you.

[2021-03-16 12:20] Naman-1234 commented on #182
@vojtechjelinek  Sir I would like to work on this issue.

[2021-03-16 12:53] nlok5923 commented on #213
@vojtechjelinek sir i think this issue has been already addressed [here](https://github.com/oppia/oppiabot/pull/206) but no included in release.

[2021-03-16 15:52] Naman-1234 commented on #182
@vojtechjelinek  Sir Can you assign me this issue please.

[2021-03-17 10:27] nlok5923 commented on #134
@jameesjohn sir i would like to work on this issue.

[2021-03-17 11:26] nlok5923 commented on #175
@jameesjohn sir it currently takes the latest updated code owners and then it appends all the  file whose codeowners has changed to the same comment.

Sir i am interested in this issue please can  you let me know what should be the actual behaviour

[2021-03-17 12:08] vojtechjelinek commented on #213
Yeah, thanks, James already released the PR yesterday.

[2021-03-17 12:41] vojtechjelinek commented on #182
Done.

[2021-03-17 12:57] gp201 opened #214 "CLA sheet invalid_grant"
Oppiabot is getting an `invalid_grant` error whenever it is attempting to access the CLA sheet

[2021-03-17 14:33] vojtechjelinek commented on #212
Done.

[2021-03-17 15:02] #213 closed

[2021-03-17 15:02] jameesjohn commented on #213
Closing since the PR got released.

[2021-03-18 17:56] #178 closed

[2021-03-19 17:36] MohdImran001 commented on #98
Hey @jameesjohn, can I work on this issue?

[2021-03-19 18:21] Naman-1234 commented on #182
@vojtechjelinek  Sir Sorry I am disturbing you Could you tell me how should I check whether feature implemented by me is working or not. Or basically How the written functions are responding. In such a way it would be much easier for me to understand codebase.

[2021-03-20 13:55] jameesjohn commented on #98
This issue is currently blocked on #195 which is why we can't assign it to anyone.

[2021-03-20 14:44] riyasingh1004 commented on #147
@vojtechjelinek I think this issue must be closed as the PR #196 has been merged for this issue.

[2021-03-20 15:22] vojtechjelinek commented on #182
@jameesjohn can help with this.

[2021-03-20 15:23] vojtechjelinek commented on #147
Thanks a lot Riya!

[2021-03-20 15:23] #147 closed

[2021-03-20 16:35] jameesjohn commented on #182
Hi @Naman-1234, you can follow the [getting started](https://github.com/oppia/oppiabot#getting-started) section on the read me to deploy your version of oppiabot, and then you can test the feature in a local repository of your choice.

[2021-03-20 16:48] MohdImran001 commented on #133
@vojtechjelinek Can I work on it?

[2021-03-21 05:01] nlok5923 commented on #166
@vojtechjelinek please can you assign me this issue.

[2021-03-21 16:10] MohdImran001 commented on #133
Hey @vojtechjelinek, I ran `npm update` to update dependencies to thier latest minor releases  Then to check if everything is working fine I ran `npm run test`. I m getting the following output. But it is not showing which tests are failing. How I can find out failing tests?

[code]

[2021-03-21 16:13] vojtechjelinek commented on #133
@jameesjohn Any help here?

[2021-03-21 18:05] SAEb-ai opened #217 "Oppiabot should remove the PR from the blocking bugs milestone"
Oppiabot should remove the blocking bugs milestone from the PR's if any contributor misktakenely adds the PR to the blocking bugs milestone.
For reference : See(https://github.com/oppia/oppia/pull/12281)

@vojtechjelinek @jameesjohn PTAL. Can this be possible?. If yes please assign this issue to me.

[2021-03-22 08:37] riyasingh1004 commented on #166
@vojtechjelinek I would like to work on this issue.

[2021-03-22 09:45] #142 closed

[2021-03-23 22:37] vojtechjelinek commented on #217
Makes sense. I have assigned you.

[2021-03-24 11:03] nlok5923 opened #222 "ping pr author that there's already a pr targetting same issue"
There are certain cases when contributor create pr for the issue which is already targeted by another previously opened pr in that case we should ping the subsequent pr author that there already exist a pr (with pr no) targeting the same issue.

@vojtechjelinek  @jameesjohn sir please provide your opinions on this feature.

[2021-03-24 11:03] nlok5923 commented on #222
i would like to work on it if this feature is valid.

[2021-03-24 12:35] vojtechjelinek commented on #222
Hmm, I think it might make sense but I see a few potential problems and also think that it is not that important. Any opinion @jameesjohn?

[2021-03-25 07:05] riyasingh1004 opened #224 "Setting Reminders"
Users can set reminders by using /remind in a comment. I think reminders will be useful for reviewers as well as contributors who are working on various things. [ Here ](https://probot.github.io/apps/reminders/) is an example for such a reminder. I think this can be quite helpful.

@vojtechjelinek @jameesjohn  Do you think this can be implemented as a valid feature.

[2021-03-25 11:10] nlok5923 commented on #134
@jameesjohn @vojtechjelinek  sir i would like to work on this issue.

[2021-03-25 15:58] nlok5923 commented on #134
@jameesjohn @vojtechjelinek please can you let me know in what way i need to alert onboarding will it be via tagging onboarding team at open pr or issue or something else.

[2021-03-25 18:18] Naman-1234 commented on #163
@BenHenning  Sir , Could you elobarate in this topic and tell me do you want TODO as a label or in Code. If you are suggesting them in code, Will Maintainer write TODO in the code or anything else. Please elobarate.

[2021-03-25 19:43] Naman-1234 commented on #198
@vojtechjelinek Sir As told by you in the PR, I am commenting on the issue. Could you please assign me.Thanks.

[2021-03-25 20:22] BenHenning commented on #163
Hi,

This issue is specifically referring to tracking TODOs in code & ensuring
their corresponding GitHub issues stay open if there are still TODOs left.
For example, see TODOs in Oppia web codebase:
https://github.com/oppia/oppia/search?q=todo.

Does this help clarify?

On Thu, Mar 25, 2021 at 11:18 AM Naman-1234 ***@***.***>
wrote:

[2021-03-25 21:12] vojtechjelinek commented on #224
I guess it can but I think it is not a priority and it would be a bit complicated.

[2021-03-25 22:50] jameesjohn commented on #134
Yes.
This should be when the contributor creates a pull request, and oppiabot can't find them in the CLA sheet and the onboarding tracker.

But we don't have access to the onboarding tracker @vojtechjelinek, can you help with this?

[2021-03-25 23:19] jameesjohn commented on #222
Yeah
I can see some problems with multiple PRs fixing one issue, as that is the case in some issues like the angular migration issues.
And also, it is not common for us to have contributors creating PRs for the same issue unless it is one with multiple tasks.

So I don't think this is really important.

[2021-03-26 02:38] nlok5923 commented on #222
@jameesjohn  sir what i thought is as we are having predefined pr title to it will be easy for us to find out whether the pr is solemnly solving the issue or it is solving the subpart of it.

[2021-03-26 08:34] MohdImran001 commented on #133
Hey @jameesjohn, please guide me about the above-mentioned error. I will really appreciate it.

[2021-03-26 08:39] SAEb-ai opened #225 "Oppiabot should add PR Don't merge:STATE BUILD label again."
Oppiabot should re add the `PR Don't merge:STATE BUILD` if any collaborator mistakenly remove the label even before updating the branch with the recent changes in develop.
For ref: See(https://github.com/oppia/oppia/pull/11844#issuecomment-774325391)

@vojtechjelinek @jameesjohn Does it make sense?
Thanks!

[2021-03-26 09:00] Naman-1234 commented on #163
@BenHenning  That helps but still need a thing or two regarding clarification, Like who will add those TODO comments. (Author, Maintainer or Are you suggesting something else). And basically Sir you are saying that if the file changed by the author has TODO or not, THat we need to check. Have I got this right this far?
This issue seems to be helpful and interesting,  after getting clarity, I would

[2021-03-26 09:53] SAEb-ai opened #226 "Oppiabot should tag the assignes in the issues if it is a blocking bug."
**For blocking bug issues:**

1. If some contributor is assigned :
     - Oppiabot should ping the assigned contributor if no pull request is linked to the issue after
       24 hours.
     - Oppiabot should ping the release team if no pull request is linked to the issue after 24 hours.

2. If no contributor is assigned :
    - Oppiabot should ping the release team about the issue after 24 hours o

[2021-03-26 14:10] vojtechjelinek commented on #225
Yep, sounds good.

[2021-03-26 14:15] vojtechjelinek commented on #222
I mean it would be possible but it is not important and it doesn`t occur that frequently.

[2021-03-26 15:13] riyasingh1004 opened #227 "Update code owner check for assigning code owner."
Update code owner check to use codeowner file for assigning code owners.

@vojtechjelinek Can you please elaborate what needs to be done in this issue. Its one of the listed issues for proposal.

[2021-03-26 15:16] vojtechjelinek commented on #227
@jameesjohn Can you help here?

[2021-03-26 19:16] Naman-1234 commented on #163
@vojtechjelinek and @jameesjohn Sir Could you help out here. This issue really seems interesting to me and I would like to work on this one, Could you bring some light on the things that should be achieved by this issue.Thanks.

[2021-03-26 19:20] Naman-1234 commented on #87
@vojtechjelinek  and @jameesjohn Sir Is this open. Because this is a part of Contributing wiki for Gsoc 2021. If yes I would like to work on this one. Could you assign me please. Thanks.

[2021-03-27 02:38] nlok5923 commented on #225
@vojtechjelinek @jameesjohn sir this issue seems quite interesting I would like to work on it.

[2021-03-27 09:14] jameesjohn commented on #133
Hi @MohdImran001
I'm not sure why it fails, it probably has something to do with

https://github.com/oppia/oppiabot/blob/a2b19c5607f617891c214d57cd7ba9706d3dde56/spec/setup.js#L145-L151

[2021-03-27 09:20] jameesjohn commented on #227
Done.

[2021-03-27 10:19] Ayushsunny commented on #174
Hello @vojtechjelinek sir, is this issue still persist?

[2021-03-27 13:21] vojtechjelinek commented on #174
@mridul-netizen Is still working on this issue.

[2021-03-27 13:25] vojtechjelinek commented on #225
@nlok5923 Go ahead.

[2021-03-27 13:27] vojtechjelinek commented on #87
@Naman-1234 I think this needs a bit more careful planning, so please include a plan for this in your design doc for GSoC and you can handle it if you get accepted for GSoC.

[2021-03-27 13:30] vojtechjelinek commented on #134
@jameesjohn You will probably need to ask Sean for access to the onboarding sheet.

[2021-03-27 13:39] vojtechjelinek commented on #226
Hmm, sounds interesting but I think that the blocking bugs need a bit more careful and individual handling, also it is the responsibility of the release coordinator to do this and they should have a good overview of what is happening with the blocking bugs. For personal experience most blocking bugs need a discussion with the person that should be fixing them and usually there is a lot of stuff go

[2021-03-27 15:51] Naman-1234 commented on #87
@vojtechjelinek Sure Sir, I will definitely put it in my proposal and will definitely want to work on this. Thanks.

[2021-03-27 18:11] Naman-1234 opened #231 "Updating Year in CopyRight Policy from 2020 to 2021"
Currently, all the files containing copy-right policy in the comments in all the files show 2020. This should be updated to 2021 as there is been three months since starting of year 2021.

@vojtechjelinek, Sir If this is a valid issue. I would like to work on this one. Could you assign me Please. Thanks.

[2021-03-27 18:27] vojtechjelinek commented on #231
No need for this, the year only needs to be recent on files created this year.

[2021-03-27 18:27] #231 closed

[2021-03-27 18:31] Naman-1234 commented on #231
Ok Sir. No Problem.

[2021-03-27 18:37] Naman-1234 opened #232 "Reminding user if he/she gets assigned to more than 5 issues."
Basically if a user gets assigned to more than 5 issues which are currently open, then oppiabot will create a comment on that issue to remind user(If you want we can let oppiabot remove assignment but that might not be right).
This will bring equity in the projects. Because in this way all will get a chance to contribute.

@vojtechjelinek Sir Please let me know. If this is a valid issue. I will be

[2021-03-27 18:39] vojtechjelinek commented on #232
There is no need for a feature like this, we currently have quite a lot of other stuff for Oppiabot that needs to be prioritized.

[2021-03-27 18:39] #232 closed

[2021-03-27 19:13] nlok5923 commented on #225
@vojtechjelinek as periodic checks are scheduled with interval of 1 day so oppiabot will automatically add `Don't merge:STATE BUILD` label after 1day interval. to resolve this issue i think we can reduce the interval but still reducing interval may break other features .

@vojtechjelinek  @jameesjohn  sir please can you let me know any other approach as i had also not able to find any event associ

[2021-03-27 22:09] jameesjohn commented on #225
I don't think that is quite right.
We can listen on the `unlabeled` event, and if the label that got removed is the stale build label, we run the stale build check again and if the PR requires the label to be added, we add it back.

[2021-03-27 22:29] jameesjohn commented on #225
You can check the work on preventing the removal of the critical label for more info.

https://github.com/oppia/oppiabot/blob/959b59c9ccc6cd1494b249f6b1fa11176258bbfc/lib/checkPullRequestLabels.js#L289-L320

[2021-03-27 23:22] jameesjohn commented on #226
I tend to lean towards @vojtechjelinek.
I think the feature would be nice to have, but if the bug is taking some time to get fixed, it might seem as if the bot is spamming if it continually pings the release team every 24 hours.

[2021-03-27 23:50] jameesjohn commented on #134
Right.
For now, @nlok5923, create a new .env variable,  `ONBOARDING_SHEET_ID` in your pull request to store the onboarding sheet id. And write your function to use the sheet id to get the contents of the spreadsheet.

See https://github.com/oppia/oppiabot/blob/959b59c9ccc6cd1494b249f6b1fa11176258bbfc/lib/checkIssueAssignee.js#L27-L44 for an example of authenticating and fetching data from the spre

[2021-03-28 00:20] vojtechjelinek commented on #226
Closing for now.

[2021-03-28 00:20] #226 closed

[2021-03-28 02:24] nlok5923 commented on #134
@jameesjohn sir thanks for the clue.

[2021-03-28 05:04] SAEb-ai commented on #226
@jameesjohn Couldn't we just sustain the bot to inform the release coordinator only once in order to avoid spamming.
@vojtechjelinek @jameesjohn  I totally agreee to your point. But I think that blocking bugs being the top priorities before the release, shouldn't you think that the bot should do some work there too?

[2021-03-28 11:25] SAEb-ai opened #234 "Oppiabot should alert the author to address every review comment."
Oppiabot should ping the author to address every review comment if the author mistakenly forgets to address it by leaving the keyword "Done"  and after all review comments are addressed then only oppiabot should assign the reviewer . This will help the reviewer to review the PR properly.
For ref: See (https://github.com/oppia/oppia/pull/11967#issuecomment-801029069)

But yep could this be achieved

[2021-03-28 17:45] nlok5923 opened #236 "Improve oppiabot ownership transfer comment message"
currently it looks like this:
refer [this](https://github.com/oppia/oppia/pull/11478#issuecomment-749875175)
![image](https://user-images.githubusercontent.com/56120084/112761811-9ea38c80-901a-11eb-897b-bd0be0cd92f2.png)
After changes:
![image](https://user-images.githubusercontent.com/56120084/112762038-6b153200-901b-11eb-8b81-b625d37acff9.png)

[2021-03-28 17:46] nlok5923 commented on #236
@vojtechjelinek @jameesjohn sir i would like to make a quick fix for this issue.

[2021-03-28 18:01] Naman-1234 commented on #157
@jameesjohn  and @vojtechjelinek , Sir as anandwana sir has made this issue open for others. I would like to work on this one, Could you assign me please.Thanks.

[2021-03-28 20:03] Naman-1234 commented on #157
@jameesjohn  Sir Could you help me out a little Please. Actually. I build this approach:
1. First get all open issues.
2. Then see if each one has project one assigned or not.

But the approach failed since I found out that the issue does not have a property of projects.

Then I thought of dropping first and using project API instead. But in github api docs,it is mentioned that it is currently in

[2021-03-28 21:51] jameesjohn commented on #234
This seems a bit complex since we would need to ensure that the comment actually needs to be addressed, and is not just a mere comment from the reviewer.

Can you prepare a design document for this?

What do you think @vojtechjelinek?

[2021-03-28 22:15] SAEb-ai commented on #234
@jameesjohn I can prepare a design doc. But first I think that I have to get the bot running on my local repo which I couldn't currently. I have texted you also on hangouts about the problem. Could you please help me there?That problem is blocking me to introduce more stuffs here in order to improve oppiabot.

[2021-03-28 22:17] jameesjohn commented on #234
Yeah, sure

[2021-03-28 23:19] Naman-1234 opened #237 "Oppiabot should close the PR and comment on issue in case of unactivity for more than x days."
Hi @vojtechjelinek  and @jameesjohn, Sir I think this could be helpful. Sometimes what happens is user opens a PR and even after the changes requested by the reviewer, there is no activity seen by the user. This blocks that particular issue.

Quick Solution:
What we could do is take a x(Example 7) and if a Pr is unactive after x days then oppiabot could close that Pr(Or remind maintainer ), Commen

[2021-03-29 10:32] nlok5923 commented on #160
@vojtechjelinek @jameesjohn i would like to try this issue.

[2021-03-29 13:16] riyasingh1004 commented on #237
@Naman-1234 Oppiabot already checks for stale PRs and closes them. Do we still need this??

[2021-03-29 13:24] riyasingh1004 commented on #237
@Naman-1234 aman-1234  You can check the stale.yml file in the .github folder of oppia. It specifies the days until stale as 7 and days until  close as 4 currently.

[2021-03-29 14:11] #237 closed

[2021-03-29 17:48] Naman-1234 opened #238 "Oppiabot should not check further in case that PR is already closed"
Please refer to https://github.com/oppia/oppia/pull/12346

Current Behaviour:
In this since that PR was done using develop branch, Oppiabot closed that Pr,but even after closing it checked Linting checks and tagged undefined to add a label.

Expected Behaviour:
Should not check lint checks and assign reviewers for changelabel, If Pr is already closed.

@vojtechjelinek  and @jameesjohn  Sir Please

[2021-03-29 18:13] riyasingh1004 commented on #166
@vojtechjelinek I am a bit confused here. I was thinking of adding a welcome message when a user makes his first PR. If the user doesn't leave any comment on the PR then Oppiabot should ping them to request a review.??

[2021-03-29 21:26] vojtechjelinek commented on #166
I think this is a bit more open-ended issue, basically, for new contributors, only the Oppiabot should make the process of their first PR as easy as possible. Meaning that the contributors should not be tucked on anything and if they are Oppiabot helps them get unstuck or calls someone for help.

[2021-03-29 21:34] vojtechjelinek commented on #201
This error still happens.

[2021-03-29 21:38] vojtechjelinek commented on #234
I don't think it is a priority for now.

[2021-03-29 21:41] vojtechjelinek commented on #226
I think that there was no request from the releases for this, we have many other issues for Oppiabot. This can be reconsidered if there is a request from releasers for this.

[2021-03-30 07:28] SAEb-ai opened #240 "Oppiabot is tagging the author again even after the changelog level was added."
Oppiabot is tagging the author again even after the changelog level was added.
For ref: See(https://github.com/oppia/oppia/pull/12364)

Does it seem to be an issue with oppiabot @vojtechjelinek @jameesjohn PTAL.

[2021-03-30 10:29] nlok5923 commented on #240
yeah i also think this issue need to be addressed oppiabot should not comment for adding label if label already exist @vojtechjelinek @jameesjohn i would like fix this issue.

[2021-03-30 17:05] nlok5923 commented on #240
@vojtechjelinek @jameesjohn i would like to fix this issue.

[2021-03-30 23:33] jameesjohn commented on #240
Done.

[2021-04-01 10:40] Naman-1234 commented on #175
@jameesjohn  and @vojtechjelinek Sir I would like to work on this issue, Could you Please assign me this one. Thanks.

[2021-04-02 07:46] SAEb-ai opened #244 "Oppiabot is not adding PR Don't Merge:Has Merge Conflicts label to some PR's"
**Describe the bug**
Oppiabot is not adding PR Don't Merge:Has Merge Conflicts label to some PR's

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to https://github.com/oppia/oppia/pull/12402'

**Observed behavior**
Oppiabot is not adding PR Don't Merge:Has Merge Conflicts label to some PR's

**Expected behavior**
Oppiabot should add the label.

@vojtechjelinek @jameesjohn PTAL. Does it s

[2021-04-02 09:49] vojtechjelinek commented on #244
Hmm, yeah it seems like it.

[2021-04-02 19:14] SAEb-ai commented on #179
@vojtechjelinek @jameesjohn I think this thing still happens. See(https://github.com/oppia/oppia/pull/12370)

[2021-04-02 20:37] Naman-1234 opened #245 "Enhancement in Readme."
**Is your feature request related to a problem? Please describe.**
Currently, in the second point of Getting Started, It does not provide the option for to user to check if he/she already has npm or node
Also, it does not show options to install it on windows which might confuse some users or contributors if it could be run in windows or not.

**Describe the solution you'd like**
- Providing the o

[2021-04-03 12:25] nlok5923 commented on #236
@vojtechjelinek @jameesjohn i would like to work on this issue if this is seems to a valid issue.

[2021-04-04 20:11] #245 closed

[2021-04-04 20:58] Naman-1234 opened #247 "Describing more features of Oppiabot in README.md"
**Is your feature request related to a problem? Please describe.**
Currently, If anyone sees the Readme file, then he will interpret that only three tasks are done by Oppiabot Because only 3 works of Oppiabot are mentioned in the Readme. But in real Oppiabot is a great project and provides many other features.

**Describe the solution you'd like**
I would like to add all the works which are done b

[2021-04-06 16:22] gp201 opened #250 "Oppiabot should close a PR if junk commits are present."
**Is your feature request related to a problem? Please describe.**
If there are more than 5 junk commits present in the PR then close the PR and ask the contributor to open a new one.

**Describe the solution you'd like**
Check if any of the commit hashes are present in the develop branch. If more than 5 are present then close the branch and ask the contributor to open a new one.

**Describe alter

[2021-04-11 06:22] #195 closed

[2021-04-17 23:42] #224 closed

[2021-04-18 05:41] seanlip commented on #222
This is not important for the reasons @jameesjohn mentioned. We need to focus on the most important issues, so we're not doing this.

[2021-04-18 05:41] #222 closed

[2021-04-18 05:43] seanlip commented on #87
@vinitamurthi @anandwana001  -- is this still needed? There is a setting in the Oppia-Android repository that is already set:

![Screenshot from 2021-04-17 22-42-41](https://user-images.githubusercontent.com/10575562/115135559-45ea6280-9fce-11eb-9159-5945bcbb105b.png)

I don't know when this was activated, but would it solve this issue?

[2021-04-18 05:45] seanlip commented on #152
@vojtechjelinek Is it actually possible to act on this issue? If not, let's close it.

[2021-04-18 05:47] seanlip commented on #129
Is there actually an oppiabot todo here? If so, @rt4914, could you please clarify exactly what needs to be implemented by oppiabot?

If there is still something to implement here, I would suggest discussing with @DubeySandeep so that we can do a unified implementation for Web and Android as far as possible.

[2021-04-18 05:49] seanlip commented on #166
@riyasingh1004 There is no need to leave a welcome message when a user makes their first PR. We don't want to incentivize spammy PRs. It may be fine to leave a message on "first PR merge" though (although it might be better if an actual human does that).

@vojtechjelinek please could you lay out the requirements clearly for this issue? It should not be left open-ended.

[2021-04-18 05:51] seanlip commented on #210
Please explain what an editorconfig file is and explain what problem it solves. In the meantime, I'm closing this issue because it does not have enough details.

[2021-04-18 05:51] #210 closed

[2021-04-18 06:35] vinitamurthi commented on #87
You're right, we don't need this anymore. I'm closing this issue!

[2021-04-18 06:35] #87 closed

[2021-04-19 13:02] DubeySandeep commented on #118
Closing this issue as it's a duplicate of #182

[2021-04-19 13:02] #118 closed

[2021-04-20 13:02] #152 closed

[2021-04-20 16:14] seanlip commented on #166
Next step: onboarding team to analyze first-time PRs, make a list of common issues, and suggest fixes to Oppiabot.

[2021-04-20 16:27] seanlip commented on #134
Closing because this is actually not needed by either the Web or Android dev workflow teams.

[2021-04-20 16:27] #134 closed

[2021-04-20 17:10] nlok5923 opened #256 "Fix: Ensure Oppiabot verifies CLA work for Android too"
@jameesjohn @vojtechjelinek sir please can you elaborate on this issue on which i am assigned currently.

[2021-04-20 19:42] BenHenning commented on #256
I'm also interested in knowing what's needed here. The CLA check is currently enabled & working on Oppia Android, but I know we were considering how to make the CLA check more robust (e.g. to fail if it can't verify that someone has signed it). That shouldn't be specific to Android, though. @jameesjohn / @vojtechjelinek am I missing anything?

/cc @anandwana001 as well

[2021-04-20 19:58] vojtechjelinek commented on #256
Not sure what this is about? We should have a CI job that will verify CLA enabled in a day or two. Waiting just for Sandeep's approval and the Sean will enable it on web and probably Android too.

[2021-04-20 23:02] BenHenning commented on #256
Is there a PR or issue I can follow along on for that @vojtechjelinek? I can enable it on Android once it's available.

[2021-04-21 09:24] jameesjohn commented on #256
This issue is to update the CLA check to respond with a different link that is specific for the android repository.
See https://docs.google.com/document/d/1MjnEZvelFY7yaHbWyXei7S3UxEE708EnVBy17bOYNhg/edit#bookmark=id.k5eeqb5rabz8

[2021-04-21 16:17] nlok5923 commented on #256
@jameesjohn can you please let me know which link i need to add in oppiabot's comment.

[2021-04-23 16:21] nlok5923 commented on #256
@jameesjohn can you please let me know which link i need to add in oppiabot's comment.

[2021-04-24 12:36] jameesjohn commented on #256
https://github.com/oppia/oppia-android/wiki#onboarding-instructions

[2021-04-24 12:36] jameesjohn commented on #256
You can use that link.

[2021-04-25 12:56] #247 closed

[2021-04-25 12:58] vojtechjelinek commented on #250
We decided that this is not a priority rn.

[2021-04-25 12:58] #250 closed

[2021-04-25 13:05] vojtechjelinek commented on #227
@jameesjohn I'm still a bit unsure what this issue exactly means? What is the problem with assigning reviewers as code owners even when they arent code owners?

[2021-04-25 13:10] vojtechjelinek commented on #151
Not a priority rn, since these kind of messages doesn't work for PRs made from forks.

[2021-04-25 13:10] #151 closed

[2021-04-26 05:57] SAEb-ai opened #258 "Oppiabot should close the PR when someone force pushes the changes."
For ref: See(https://github.com/oppia/oppia/pull/12616)

[2021-04-27 23:42] vojtechjelinek commented on #182
@DubeySandeep Hi, as of now we only plan to implement pings on the PR itself, how important is it to also send emails?

[2021-04-28 16:58] DubeySandeep commented on #166
Major requirements:

1. Ask one of the reviewers to approve run build for the first-time contributors. [Maybe ask the same person who adds changelog label to the PRs]
2. We need to find a way to help to assign reviewers to the PR if the author (new contributor) misses leaving top-level comment or a PTAL comment.
      i. Maybe the bot can send new-contributor-specific comments in the PR that we re

[2021-05-04 07:38] #198 closed

[2021-05-04 14:36] #201 closed

[2021-05-08 05:21] seanlip opened #261 "Oppiabot is saying that contributors can't merge PRs, when they can."
**Describe the bug**

On https://github.com/oppia/oppia/pull/12620#issuecomment-834955441, Oppiabot is saying:

"Hi @aks681, this PR is ready to be merged. Author of this PR does not have permissions to merge this PR. Before you merge it, please make sure that there are no pending comments that require action from the author's end. Thanks!"

However, this PR is authored by Rijuta, who is a member

[2021-05-08 13:08] #184 closed

[2021-05-18 01:17] #180 closed

[2021-05-18 16:09] #174 closed

[2021-05-18 16:24] mridul-netizen commented on #133
Can you assign me this issue?

[2021-05-20 14:50] #205 closed

[2021-06-06 09:42] nlok5923 commented on #240
@jameesjohn i think we can close this issue because it is very rare to occur.

[2021-06-07 10:51] anandwana001 opened #272 "Self Assigned after PTAL comment"
**Describe the bug**
Replying to the reviewer comment with PTAL, bot assigned to me.
Here - https://github.com/oppia/oppia-android/pull/3264#issuecomment-855796616

**Observed behavior**
Got self-assigned

**Expected behavior**
It should not assign to the one who comments PTAL

[2021-06-12 20:16] jameesjohn commented on #244
It seems the PR had a merge conflict at the time of creation and oppiabot is not currently checking for merge conflicts upon creating the PR.

[2021-06-13 16:00] #256 closed

[2021-06-14 12:34] #176 closed

[2021-06-17 05:12] nlok5923 commented on #244
@jameesjohn should we enable merge conflict check once pull request open event got triggered.

[2021-06-22 07:56] gp201 opened #275 "[Github action] CLA Check - Input variables using `with` instead of `env`."
**Describe the bug**
The CLA Check GitHub action has to take the secrets as input via `with` (like how it is done for GITHUB_TOKEN) instead of `env` (Like how it is currently done).
Change all similar code https://github.com/oppia/oppiabot/blob/bad457439a6c65cbe3d7b93ef81a77b041d291bf/actions/src/pull_requests/claCheck.js#L29-L30 to https://github.com/oppia/oppiabot/blob/bad457439a6c65cbe3d7b93ef8

[2021-06-22 07:57] gp201 commented on #275
@vojtechjelinek PTAL

[2021-06-29 14:09] #225 closed

[2021-06-30 11:32] jameesjohn opened #277 "Migrate Modules to Github Actions"
The Oppiabot project is currently in a hybrid state comprising of both Github Actions and Probot.

This issue aims to migrate the features to GitHub actions and track the progress of doing that.
To be able to contribute to this, you need to read the migration guide which can be found [here](https://github.com/oppia/oppiabot/wiki/Migrating-to-Github-Actions).

Sample PRs on migrating to Github Acti

[2021-07-07 10:56] nlok5923 commented on #277
@jameesjohn  i would like to work on `checkIssueAssignee.js`

[2021-07-07 19:32] jameesjohn commented on #277
Done @nlok5923. You can start working on it.

[2021-07-12 18:56] BenHenning opened #278 "[Oppia Android] Require new files to be re-approved"
**Is your feature request related to a problem? Please describe.**
It's possible with current GitHub codeowners to run into a situation where reviewers approve a PR, then the author adds a new file to the PR that's owned by an existing PR approver & change it, then merge the PR without a follow-up review. While good reviewer practices make this harder (e.g. not approving until all CI checks are pa

[2021-07-12 18:57] BenHenning commented on #278
/cc @jameesjohn & @seanlip

[2021-07-13 16:01] jameesjohn commented on #278
Thanks, @BenHenning.

Currently, the GitHub API does not list the reviewers who have approved the PR. However, it removes the reviewer from the list of reviewers after a review (approved or changes requested). So what we could do is to check if the code owner of that file/set of files is not among the list of reviewers (they have either approved or requested changes before now), Oppiabot requests

[2021-07-20 17:48] DubeySandeep opened #279 "Github action bot should close the PR if the author has not signed the CLA"
OppiaBot use to close the PR if the PR author has not signed the CLA. We migrated the CLA check to the Github-actions as the OppiaBot feature was not reliable.

Currently, the github-action bot is not closing the PR in such a situation. Through this issue, we want to ensure that OppiaBot closes such PRs.

[2021-07-20 17:50] DubeySandeep commented on #279
@vojtechjelinek @gp201 Can we prioritize fixing this issue? (it seems like a regression)

Also, I came to know that we still have the oppiaBot's CLA check in the system, is that expected? (I think we should remove the OppiaBot's CLA check completely as it's not reliable and make sure that github-action's bot works perfectly for the CLA check!)

[2021-07-22 15:41] vojtechjelinek commented on #279
We have the GitHub Action enabled, it is 100 % reliable. @gp201 Can we modify the action to also close the PR? And remove the legacy CLA code?

[2021-07-23 10:02] gp201 commented on #279
Currently, Oppiabot handles CLA check for issues also ([checkIssueAssignee.js](https://github.com/oppia/oppiabot/blob/master/lib/checkIssueAssignee.js)). Should this be disabled.
The CLA check using GitHub actions is not enabled for the Oppiabot repository. It is currently relying on the Oppiabot CLA check.

[2021-07-23 15:54] vojtechjelinek commented on #279
@seanlip Hey, do we care about CLA if someone is assigned to an issue? Also, can it happen that someone without CLA gets assigned to issue? Since I imagine the person must already created some PRs so they probably also signed the CLA.

@gp201 Can we enable the Action for oppiabot repo too?

[2021-07-25 18:10] gp201 opened #280 "Make cla check case-insensitive"
Currently, CLA checks GitHub action seems to be case sensitive.
This caused the action to fail in one of the contributors PR's

action: https://github.com/oppia/oppia/pull/13484/checks?check_run_id=3155352412

[2021-08-21 19:00] seanlip commented on #279
I don't think we care about that -- e.g. someone can be assigned to an issue if they need to provide follow-up information. See e.g. here: https://github.com/oppia/oppia/issues/13719

Note that Oppiabot didn't comment on that issue FYI.

[2021-08-23 20:35] #275 closed

[2021-10-04 14:50] #279 closed

[2021-10-07 00:16] BenHenning opened #291 "[Oppia Android] Request to enable post-merge sync notifications"
Can we enable the post-merge sync notifications in Oppia Android? That is, having Oppiabot automatically update PRs with a label to indicate that they need to be synced with develop if a PR is merged with the "PR: require post-merge sync to HEAD" label. Should this already work out of the box, or does it need to be enabled in Oppiabot & redeployed? I couldn't find any repo-side configuration for i

[2021-10-07 00:17] BenHenning commented on #278
@jameesjohn that sounds sensible since it also covers the case of explicitly requesting a review from someone who owns newly affected files (GitHub does this automatically, but without the message that Oppiabot would leave so the extra redundancy is nice).

[2021-10-22 00:22] BenHenning opened #295 "[Oppia Android] Oppiabot did not close a PR that was force pushed"
**Describe the bug**
See https://github.com/oppia/oppia-android/pull/3952. The author force-pushed their branch, but Oppiabot didn't detect & close it. Is there a specific feature that needs to be enabled for Oppia Android to make sure this works?

**To Reproduce**
Steps to reproduce the behavior: Unknown; I didn't try to repro it. Presumably any force push should demonstrate that Oppiabot isn't c

[2021-11-10 12:14] khanjasir90 commented on #277
@jameesjohn can i work on this checkPullRequestLabels.js

[2021-12-01 16:44] vojtechjelinek commented on #277
@khanjasir90 Would you still be interested in this issue?

[2021-12-01 17:17] khanjasir90 commented on #277
Yes

[2021-12-02 14:48] vojtechjelinek commented on #277
@khanjasir90 Done.

[2021-12-21 10:50] SaurabhJamadagni commented on #277
Hi @vojtechjelinek @jameesjohn! Sorry for this very trivial question, but what are the technical requirements to be able to solve a task in this issue? This being my second issue ever I am a bit confused. I would really like to acquaint myself with the skills needed and contribute to this issue.

[2021-12-21 13:23] vojtechjelinek commented on #277
You should know JavaScript and the GitHub Actions API. I also recommend reading through the migration guide https://github.com/oppia/oppiabot/wiki/Migrating-to-Github-Actions and the sample PR https://github.com/oppia/oppiabot/pull/276

[2021-12-21 14:21] SaurabhJamadagni commented on #277
I see. I will read up on it. I would like to give it a try. @vojtechjelinek can you please assign me `staleBuildChecks.js`?

[2021-12-22 13:50] vojtechjelinek commented on #277
@SaurabhJamadagni Done.

[2021-12-23 16:18] SaurabhJamadagni commented on #277
Hi @vojtechjelinek, could you please assign me `checkPullRequestBranch.js` instead of `staleBuildChecks.js`? I am sorry for the inconvenience caused.

[2021-12-25 12:19] vojtechjelinek commented on #277
@SaurabhJamadagni Sure

[2022-01-13 11:01] SaurabhJamadagni commented on #277
Hi @vojtechjelinek! I am going through the migration guide and I have completed the 'Migrating A Feature' steps mentioned in the documentation. I am having trouble understanding a few steps in the 'Migrating Tests' section of the guide. Could you please help me understand the step '[Mocking](https://github.com/oppia/oppiabot/wiki/Migrating-to-Github-Actions#2-mocking)' mentioned? Do I have to make

[2022-01-13 13:10] vojtechjelinek commented on #277
@SaurabhJamadagni Yep, you need to modify the specs, because now the tests will probably fail. Let me know if you need more info.

[2022-01-14 11:13] SaurabhJamadagni commented on #277
@vojtechjelinek by looking at the reference PR, I understand that I will have to remove all instances of 'checkBranch' from all the spec files. Is there anything else I have to do next or is that the final step in the migration for the respective file? I am extremely sorry if these are trivial questions.

[2022-01-15 14:24] vojtechjelinek commented on #277
Yeah, then you will need to check if all the tests are still passing and if not you will need to modify the so that they pass.

[2022-01-24 08:25] viveky45 commented on #277
@jameesjohn i would like to work on apiForSheets.js

[2022-01-24 14:53] viveky45 commented on #277
@vojtechjelinek i would like to work on apiForSheets.js

[2022-01-25 12:58] vojtechjelinek commented on #277
@viveky45 Done.

[2022-01-26 06:01] viveky45 commented on #277
@vojtechjelinek i was going through the migration guide but i have a liitle problem in the first two steps of migrating a module....i mean which event we have to change in first step and what entry we have to make in second step??

[2022-02-01 09:38] coder1706 commented on #277
Hi @vojtechjelinek, I would like to work on checkPullRequestReview.js. Could you assign it to me. Thanks!

[2022-02-01 10:29] vojtechjelinek commented on #277
@coder1706 Done.

[2022-02-02 06:43] coder1706 commented on #277
Hi @vojtechjelinek, I have done up to step 5 mentioned in [Migrating a feature](https://github.com/oppia/oppiabot/wiki/Migrating-to-Github-Actions#migrating-a-feature), but could you help me understand the changes done in [actions_build/index.js](https://github.com/oppia/oppiabot/pull/276/files#diff-77ee5cd9161e9ef2b4100a824fa66aa7b59aff6ea8219bf6e26bbdb60a5b47af). Do I have to do these changes to

[2022-02-04 05:10] BenHenning opened #298 "[Oppia Android] Please enable force push autoclose for Oppia Android"
**Is your feature request related to a problem? Please describe.**
The Oppia Android repo currently permits force-pushing despite it being against developer policy.

**Describe the solution you'd like**
The force-push feature should be enabled for Oppia Android, but customized to point to the Oppia Android wiki (i.e. https://github.com/oppia/oppia-android/wiki/Making-a-code-change).

**Describe al

[2022-02-15 06:41] seanlip commented on #298
I think we should do this on the Oppia-web repo, if we haven't already. /cc @vojtechjelinek @DubeySandeep @U8NWXD

[2022-02-15 17:26] Ketan1502 commented on #277
hi @vojtechjelinek, can u please assign me the ciChecks.js module to me?

[2022-02-16 18:22] U8NWXD commented on #298
I agree that this would be good for oppia-web too

[2022-02-17 07:23] Ketan1502 commented on #277
@vojtechjelinek can u please review the PR #300

[2022-02-18 10:30] vojtechjelinek commented on #298
Agreed, @gp201 would you have time to look into this?

[2022-02-18 23:24] BenHenning commented on #298
To clarify: I didn't realize that this wasn't already enabled in Oppia web, so I've updated the PR description to be less confusing.

[2022-03-31 11:39] ankita240796 opened #304 "Oppiabot should assign release coordinator on addition of hotfix labels"
Oppiabot should assign release coordinator team when a PR is labelled with `PR: Needs to be hotfixed`

[2022-04-13 12:17] #304 closed

[2022-10-13 16:37] vojtechjelinek opened #311 "Disable stale check on Android repo"
Don't close stuff as stale if the reviewer hasn't reviewed. For details ask someone from the Android repo.

[2022-10-13 16:38] vojtechjelinek opened #312 "Make message about who can add "good first issue" labels more clear"
Make sure its message is clear about who can add "good first issue" labels (currently just says Sandeep but that's not true).

[2022-10-13 16:47] vojtechjelinek opened #313 "Add `PR: Affects datastore layer` label to PRs that modify anything in `platform` folder"
Add `PR: Affects datastore layer` label to PRs that modify anything in `platform` folder and in `jobs` folder so that we strictly verify that the changes work. Also probably change the name of the label so that it is more precise.